/* this comment is a subtle css bug workaround */

body {}

:root {

  --void:#232426;
  --azure:#518fe1;
  --blackberry:#25003e;
  --eggplant:#45236d;

  --backarea:#f2f0f8;
  --forearea:#ffffff;
  --bordercolor:#dddddd;

  --textondark:#e236eb;
  --textdark:#3d3d3d;
  --textlight:#e2e6eb;
  --textheader:#4d4dad;
  --textlink:#5d3d8d;
  --textwarning:#999900;
  --textgood:#006400;
  --textbad:#DC143C;

  --navheight:48px;
  --cardpercentwidth:600px;
  --cardmaxwidth:600px;
  --pagewidth:600px;
  --padsides:20px;
}

html,body,div,span,img,input,textarea,button,canvas,a,h1,h2,h3,p, .page, .sugarcard {
  font-family: 'Nunito', sans-serif;
  border: 0px;
  margin: 0px;
  padding: 0px;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1.04em;
}

h1,h2,h3  {
  font-family: 'Spectral', sans-serif;
  margin-top:10px;
  margin-bottom:20px;
  font-size:2em;
}

h2,h3 {
  font-size:1.40em;
  margin-bottom:10px;
}

.nav {
  position:fixed;
  top:0;
  z-index:2;
  width:100%;
  height:var(--navheight);
  display:flex;
  background:var(--backarea);
  border-bottom:1px solid #eecefe;
}

.nav a {
  margin-left:8px;
  margin-right:8px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  filter: grayscale(90%);
}

.pad {
  height:var(--navheight);  
}

.page {
  width:var(--pagewidth);
  height:100%;
  margin:auto;
  overflow:hidden;
}

.bigbutton {
  margin:4px;
  padding:4px;
  padding-left:32px;
  padding-right:32px;
  font-size:0.70em;
  justify-self:center;
  box-sizing: border-box;
  cursor: pointer;
  border-radius:25px;

  background-color: Transparent;
  background-repeat:no-repeat;
  bxorder: none;
  overflow: hidden;
  outline:none;
  border: 1px solid black;
  transition: all .2s ease-in-out;
}

.bigbutton:hover {
  background-color: rgba(0.25,0.25,0.25,0.5);
  transform: scale(1.1);
}

a {
  color:purple;
}

table {
  width: 100%;
  border: 0px solid #ddd;
  padding: 0px;
  margin: 0px;
  border-collapse: separate;
  border-spacing: 0px;
}

td {
  width: 100px;
  vertical-align: top;
  padding:0px;
  margin: 0px;
  padding-top:10px;
  padding-bottom:10px;
}
td+td {
  width: auto;
}

.block {
  margin:2px;
  padding:45px;
}

.gradient1 {
  color:white;
  padding:45px;
  font-color:white;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,0.9) 0%, rgba(104,111,161,0.9) 100%);
}

.gradient1 a {
  color:lavender;
}

.gradient2 {
  color:white;
  padding:45px;
  font-color:white;
  background: rgb(255,204,232);
  background: radial-gradient(circle, rgba(255,204,232,0.5) 0%, rgba(134,151,191,0.5) 100%);
}

.fadein {
  opacity: 0;
  transform: translate(0, 4vh);
  transition: all 1.5s;
}

.fadein.visible {
  opacity: 1;
  transform: translate(0, 0);
}

@media screen and (max-width: 800px) {
  .block {
    padding:20px;
  }
  .gradient1 {
    padding:20px;
  }
  .gradient2 {
    padding:20px;
  }
  .page {
    width:100%;
  }
}


