/* this comment is a subtle css bug workaround */

body {}

@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {

  --void:#232426;
  --azure:#518fe1;
  --blackberry:#25003e;
  --eggplant:#45236d;

  --backarea:#f2f0f8;
  --forearea:#ffffff;
  --bordercolor:#dddddd;

  --textondark:#e236eb;
  --textdark:#3d3d3d;
  --textlight:#e2e6eb;
  --textheader:#4d4dad;
  --textlink:#5d3d8d;
  --textwarning:#999900;
  --textgood:#006400;
  --textbad:#DC143C;

  --navheight:48px;
  --cardpercentwidth:600px;
  --cardmaxwidth:600px;
}

html,body,div,span,img,input,textarea,button,canvas,a,h1,h2,h3,p, .page, .sugarcard {
  xfont-family: 'Merriweather', serif;
  font-family: 'Fjalla', sans-serif;
  border: 0px;
  margin: 0px;
  padding: 0px;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size:1.02em;
  color:var(--textdark);
}

h1,h2,h3  {
  xfont-family: 'Lora', serif;
  font-family: 'Cantarell', sans-serif;
  color:var(--textheader);
  margin-top:10px;
  margin-bottom:10px;
  font-size:4em;
}

h2,h3 {
  font-size:2em;  
}

.nav {
  position:fixed;
  top:0;
  z-index:2;
  width:100%;
  height:var(--navheight);
  display:flex;
  background:var(--backarea);
  border-bottom:1px solid #eecefe;
}

.nav a {
  margin-left:8px;
  margin-right:8px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  filter: grayscale(90%);
}

.pad {
  height:var(--navheight);  
}

.page {
  width:100%;
  height:100%;
  top:var(--navheight);
  background:var(--forearea);
}

/************************************************************************************************/
/* slider effect */


.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 46px;
  background: #55aad3;
  outline: none;
  opacity: 0.5;
  transition: opacity .2s;
  border-radius: 6px;
  border:3px solid lightblue;
}
.slider:hover {
  oxpacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  height: 40px;
  border:3px solid #4433cc;
  border-radius: 6px;
  background: #33225500;
  cursor: pointer;
}


/*************************************************************************************/
/* general style support */

.scales {
  transition: all .1s ease-in-out;
}

.scales:hover {
  transform: scale(1.1);  
}

#darker {
  background-color: #4c87b9;
}

.darker {
  background-color: #4c87b9;
}

.bigbutton {
  background:#f0f3ff;
  padding:4px;
  margin-top:4px;
  margin-bottom:4px;
  font-size:1.05em;
  justify-self:center;
  box-sizing: border-box;
  width:30%;
  cursor: pointer;
}

.biginput {
  background:#f8f3ff;
  padding:10px;
  margin-top:10px;
  margin-bottom:10px;
  font-size:1.1em;
  justify-self:center;
  box-sizing: border-box;
  width:100%;
  cursor: pointer;
}

/************************************************************************************************/
/* small cards */

.sugarcardsmall {
  position:relative;
  display: inline-block;
  width:128px;
  height:64px;
  overflow:hidden;
  border: 2px solid #aaaa00;
  box-sizing: border-box;
  margin: 4px;
  cursor: grab;
  transition: all .1s ease-in-out;
}

.sugarcardsmall:hover {
  transform: scale(1.1);
}

/************************************************************************************************/
/* most display items are some form of card */

.sugarcard {
  
  display:flex;
  flex-direction:column;
  box-sizing: border-box;
  position:relative;

  background:var(--forearea);

  width:var(--cardpercentwidth);
  max-width:var(--cardmaxidth);

  margin-top:8px;
  margin-bottom:8px;
  margin-left:auto;
  margin-right:auto;
  padding: 8px;

  border: 1px solid var(--bordercolor);
  border-radius:3px;
}

.sugarcard h1 {
  z-index:2;
}

.sugarcard a {
  color:var(--textlink)
}

.sugarcard p {
  margin-top: 4px;
  margin-bottom: 10px;
}

/* current design motif is to have actions be emoji; this wraps emoji */
.action {
  padding: 4px;
  background:var(--forearea);
  cursor: pointer;
}

/* current design motif is a circle representation of parties */
.partyimage {
  border-radius:100%;
  width:32px;
  height:32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* current design motif is a header banner to briefly represent parties or groups or posts */
.postimage {
  width:100%;
  height:256px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*******************************************/


      .respond {
        display:flex;
        background:white;
      }

      .respondfields {
        flex:auto;
        border-radius:4px;
        box-sizing:border-box;
        padding:1px;
      }

      .respondinput {
        flex:auto;
        outline: none;
        cursor: pointer;
        transition: all .1s ease-in-out;
        padding-left: 8px;
        z-index:2;
      }

      .respondinput:focus {
        background: #f5f5f5;
      }

      .respondinput:hover {
        background: #f5f5f5;
      }

      .respondbutton {
        height:32px;
        width:32px;
        font-size: 22px;
        background:var(--forearea);
        display:flex;
        justify-content: center;
        align-items: center;
        transition: background-color .4s ease;
      }

      .respondbutton:hover {
        background: #f5f5f5;
      }



