/* this comment is a subtle css bug workaround */

body {}

:root {
  --pagewidth:600px;

  --navback:#f2f0f8;
  --navtext:#3d3d3d;
  --navheight:48px;
  --navheightmargin:10px;
}

html,body,div,span,img,input,textarea,button,canvas,a,h1,h2,h3,p, .page {
  font-family: 'Nunito', sans-serif;
  border: 0px;
  margin: 0px;
  padding: 0px;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1.04em;
}

h1,h2,h3  {
  font-family: 'Spectral', sans-serif;
  font-size:1.9em;
}

h2,h3 {
  font-size:1.40em;
}

/******************************************************************************************************************/
/* this is for a layout style with a single center column */
/******************************************************************************************************************/

.page {
  width:var(--pagewidth);
  height:100%;
  margin:auto;
  overflow:hidden;
}

/******************************************************************************************************************/
/* a big button */
/******************************************************************************************************************/

.bigbutton {
  margin:4px;
  padding:4px;
  padding-left:32px;
  padding-right:32px;
  font-size:0.70em;
  justify-self:center;
  box-sizing: border-box;
  cursor: pointer;
  border-radius:25px;

  background-color: Transparent;
  background-repeat:no-repeat;
  bxorder: none;
  overflow: hidden;
  outline:none;
  border: 1px solid black;
  transition: all .2s ease-in-out;
}

.bigbutton:hover {
  background-color: rgba(0.25,0.25,0.25,0.5);
  transform: scale(1.1);
}

/******************************************************************************************************************/
/* app specific style */
/******************************************************************************************************************/

a {
  color:purple;
}

table {
  width: 100%;
  padding: 5px;
  margin: 5px;
  border-collapse: separate;
  border-spacing: 0px;
}

td {
  border: 1px dashed #eee;
  width: 100px;
  vertical-align: top;
  padding:5px;
  margin: 5px;
  padding-top:10px;
  padding-bottom:10px;
}
td+td {
  width: auto;
}

.block {
  margin:2px;
  padding:45px;
}

.gradient1 {
  color:white;
  padding:45px;
  font-color:white;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,0.9) 0%, rgba(104,111,161,0.9) 100%);
}

.gradient1 a {
  color:lavender;
}

.gradient2 {
  color:white;
  padding:45px;
  font-color:white;
  background: rgb(255,204,232);
  background: radial-gradient(circle, rgba(235,184,222,0.5) 0%, rgba(114,121,171,0.5) 100%);
}

.fadein {
  opacity: 0;
  transform: translate(0, 4vh);
  transition: all 1.5s;
}

.fadein.visible {
  opacity: 1;
  transform: translate(0, 0);
}

@media screen and (max-width: 800px) {
  .block {
    padding:20px;
  }
  .gradient1 {
    padding:20px;
  }
  .gradient2 {
    padding:20px;
  }
  .page {
    width:100%;
  }
}


